/* Breakpoints: */
$breakpoint: (
  mobile: 768px,
  tablet: 991px,
  desktop-sm: 1024px,
  desktop-lg: 1280px,
) !default;

@mixin breakpoint($point) {
  /* Equal or greater than 1280px */
  @if $point == desktop-lg {
    /* stylelint-disable-next-line */
    @media only screen and (max-width: map-get($breakpoint, desktop-lg)) {
      @content;
    }
  }

  /* Equal or greater than 1024px */
  @if $point == desktop-sm {
    /* stylelint-disable-next-line */
    @media only screen and (max-width: map-get($breakpoint, desktop-sm)) {
      @content;
    }
  }

  /* Equal or greater than 991px */
  @if $point == tablet {
    /* stylelint-disable-next-line */
    @media only screen and (max-width: map-get($breakpoint, tablet)) {
      @content;
    }
  }

  /* Equal or greater than 768px */
  @if $point == mobile {
    /* stylelint-disable-next-line */
    @media only screen and (max-width: map-get($breakpoint, mobile)) {
      @content;
    }
  }
}

@mixin between-breakpoints($pointA, $pointB) {
  /* stylelint-disable-next-line */
  @media only screen and (min-width: map-get($breakpoint, $pointA)) and (max-width: map-get($breakpoint, $pointB) - 1) {
    @content;
  }
}
