$lato: "Lato", sans-serif;
$montserrat: "Montserrat", sans-serif;
$opensans: "Open Sans", sans-serif;
$robotoslab: "Roboto Slab", serif;
$robotomono: "Roboto Mono", monospace;
$serifText: "DM Serif Text", serif;

$fontColor: #808080;
$fontColorDark: #2d2d2d;
$fontColorDarker: #0c0c0c;
// $headerFontColor: #2d2d2d;

$linkColor: #66bbff;

$black: #000000;
$lessBlack: #2e2e2e;

$white: #ffffff;
$offWhite: #ffe5db;
$whiteHover: #f8f8f8;
$lightGray: #efefef;

$colorThemeDark: #0b76b8;
$colorTheme: #1da1f2;
$colorThemeLight: #65bff6;
$colorThemeSat: #1780c1;

$backgroundColor: #fafafa;
$backgroundColor2: #ececec;
$darkBackgroundColor: #333333;
$darkerBackgroundColor: #2d3a3f;
$darkestBackgroundColor: #151c1c;
