@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/mixins.scss";
@import "../../../assets/scss/normalize.scss";
@import "../../../assets/scss/misc.scss";
@import "../../../assets/scss/breakpoints.scss";

ul.social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 40%;
  margin: 30px auto 0;

  @include breakpoint(desktop-sm) {
    margin-top: 15px;
  }

  li {
    padding: 7px;
    margin-right: 10px;
    transition: transform 0.2s;

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}
