@import "./assets/scss/variables.scss";
@import "./assets/scss/mixins.scss";
@import "./assets/scss/normalize.scss";
@import "./assets/scss/misc.scss";
@import "./assets/scss/breakpoints.scss";
@import "./components/context/openingEffect/styles.scss";
@import "./components/pages/home/styles.scss";
@import "./components/context/header/styles.scss";
@import "./components/pages/about/styles.scss";
@import "./components/context/timeLine/styles.scss";
@import "./components/context/honeycomb/styles.scss";
@import "./components/pages/portfolio/styles.scss";
@import "./components/pages/contact/styles.scss";

body {
  position: relative;
  color: $fontColorDarker;
  font-family: $lato;
  font-weight: 400;
  overflow-x: hidden;
}

h1 {
  color: $white;
  line-height: 1.3;
}

h2,
h3 {
  @include page-header;
  text-align: center;
}
